.listing {
    border: 1px black solid;
    padding: 1%;
    margin: 5px;

    .info {
        display: inline-block;
        padding-left: 10px;
        margin: auto 0;
        vertical-align: top;
    }
}

// google maps
#map { 
    height: 100%; 
    }
